In [ ]:
#Import Libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
tuition_income = pd.read_csv('/content/drive/MyDrive/COMSC335/CourseProject/tuition_income.csv')
tuition_cost = pd.read_csv('/content/drive/MyDrive/COMSC335/CourseProject/tuition_cost.csv')

In [ ]:
tuition_income = tuition_income.dropna()
tuition_cost = tuition_cost.dropna()

In [ ]:
tuition_income

,name,state,total_price,year,campus,net_cost,income_lvl
0,Piedmont International University,NC,20174,2016,On Campus,11475.00000,"0 to 30,000"
1,Piedmont International University,NC,20174,2016,On Campus,11451.00000,"30,001 to 48,000"
2,Piedmont International University,NC,20174,2016,On Campus,16229.00000,"48_001 to 75,000"
3,Piedmont International University,NC,20174,2016,On Campus,15592.00000,"75,001 to 110,000"
4,Piedmont International University,NC,20514,2017,On Campus,11668.39249,"0 to 30,000"
...,...,...,...,...,...,...,...
209007,Alabama A & M University,AL,23462,2018,Off Campus,15089.45111,"0 to 30,000"
209008,Alabama A & M University,AL,23462,2018,Off Campus,14810.60535,"30,001 to 48,000"
209009,Alabama A & M University,AL,23462,2018,Off Campus,17167.46710,"48_001 to 75,000"
209010,Alabama A & M University,AL,23462,2018,Off Campus,17558.05619,"75,001 to 110,000"
209011,Alabama A & M University,AL,23462,2018,Off Campus,19433.08888,"Over 110,000"

In [ ]:
tuition_cost

,name,state,state_code,type,degree_length,room_and_board,in_state_tuition,in_state_total,out_of_state_tuition,out_of_state_total
1,Abilene Christian University,Texas,TX,Private,4 Year,10350.0,34850,45200,34850,45200
2,Abraham Baldwin Agricultural College,Georgia,GA,Public,2 Year,8474.0,4128,12602,12550,21024
4,Academy of Art University,California,CA,For Profit,4 Year,16648.0,27810,44458,27810,44458
5,Adams State University,Colorado,CO,Public,4 Year,8782.0,9440,18222,20456,29238
6,Adelphi University,New York,NY,Private,4 Year,16030.0,38660,54690,38660,54690
...,...,...,...,...,...,...,...,...,...,...
2964,Yeshivath Viznitz,New York,NY,Private,4 Year,4050.0,10000,14050,10000,14050
2965,York College,Nebraska,NE,Private,4 Year,7220.0,19310,26530,19310,26530
2966,York College of Pennsylvania,Pennsylvania,PA,Private,4 Year,11200.0,20100,31300,20100,31300
2969,Young Harris College,Georgia,GA,Private,4 Year,12372.0,29117,41489,29117,41489
2970,Youngstown State University,Ohio,OH,Public,4 Year,9400.0,8950,18350,14950,24350

In [ ]:
tuition_cost = tuition_cost[['name', 'type','degree_length', 'in_state_total', 'out_of_state_total']]

In [ ]:
tuition_income = tuition_income[['name','net_cost']].groupby(['name']).first().reset_index()

In [ ]:
tuition = tuition_income.merge(right = tuition_cost, on = 'name')
tuition

,name,net_cost,type,degree_length,in_state_total,out_of_state_total
0,ASA College,20916.0,For Profit,2 Year,23565,23565
1,Abilene Christian University,21258.0,Private,4 Year,45200,45200
2,Abraham Baldwin Agricultural College,6026.0,Public,2 Year,12602,21024
3,Academy of Art University,28284.0,For Profit,4 Year,44458,44458
4,Adams State University,9163.0,Public,4 Year,18222,29238
...,...,...,...,...,...,...
1484,Yeshivath Viznitz,7300.0,Private,4 Year,14050,14050
1485,York College,16497.0,Private,4 Year,26530,26530
1486,York College of Pennsylvania,15762.0,Private,4 Year,31300,31300
1487,Young Harris College,10997.0,Private,4 Year,41489,41489
1488,Youngstown State University,10224.0,Public,4 Year,18350,24350

In [ ]:
tuition['net_cost'] = tuition['net_cost'].round(2)
tuition

,name,net_cost,type,degree_length,in_state_total,out_of_state_total
0,ASA College,20916.0,For Profit,2 Year,23565,23565
1,Abilene Christian University,21258.0,Private,4 Year,45200,45200
2,Abraham Baldwin Agricultural College,6026.0,Public,2 Year,12602,21024
3,Academy of Art University,28284.0,For Profit,4 Year,44458,44458
4,Adams State University,9163.0,Public,4 Year,18222,29238
...,...,...,...,...,...,...
1484,Yeshivath Viznitz,7300.0,Private,4 Year,14050,14050
1485,York College,16497.0,Private,4 Year,26530,26530
1486,York College of Pennsylvania,15762.0,Private,4 Year,31300,31300
1487,Young Harris College,10997.0,Private,4 Year,41489,41489
1488,Youngstown State University,10224.0,Public,4 Year,18350,24350

In [ ]:
tuition.to_csv('/content/drive/My Drive/tuition.csv', index=False)